.vscode/
datasets/joint_training
datasets/AlignData
logs/
ref_examples/
results/
results_final_test/
results_grid*/
router_labels/
results/gen_rule_path/
results/KGQA/
results/gpt-3.5-turbo-0125
results/gpt-3.5-turbo-0613
results/gpt-4-0125-preview
test/
wandb/
save_models/
.env
config.json
*.pyc
__pycache__/
tmp/
RoG_train.tar.gz
datasets/cache/
datasets/datasets/joint_training/
datasets/**/*.arrow
datasets/**/*.lock
datasets/**/dataset_info.json
datasets/**/state.json
datasets/RoG_train_data.tar.tz
webq.log
.DS_Store
